body {
    margin: 0;
    background-color: rgb(208, 255, 239);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-game {
    height: calc(100vh - 100px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
                        'amarelo azul';
    grid-gap: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    height: 75vh;
    width: 75vh;
}

.blue {
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.6;
}


header {
    align-items: center;
    background-color: rgb(62, 122, 102);
    display:flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

footer {
    align-items: center;
    display:flex;
    flex-direction: row;
    height: 40px;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul {
    align-items: center;
    color:#FFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav li {
    display: block;
    margin: 0 25px;
}

nav a{
    text-decoration:none;
    color: #fff;
    margin: 0 10px;
}

nav a:hover{
    color: #ccc;
}

.icon {
    font-size: 2.5em;
}
.icon:hover {
    cursor: pointer;
}

@media only screen and (orientation: portrait) {
    .genius {
        height: 75vw;
        width: 75vw;
    }
}

@media screen and (max-width:767.98px){
    nav li {
        display: block;
        margin: 0 15px;
    }
}

@media screen and (max-width:418px){
    nav li {
        display: block;
        margin: 0 5px;
    }
}